<div class="weather-boxes-wrapper">
    <div class="weather-box" *ngFor="let weather of weatherList">
        <div class="weather-main-info">
            <div class="city-date">
                <h3>{{ weather.name }}</h3>
                <h2>{{ weather.sys.country}}</h2>
                <h4>{{ weather.visibility }}</h4>
            </div>
            <div class="temp">
                <h1>{{ weather.main.temp }}</h1>
                <h4>{{ weather.main.temp_min }}</h4>
                <h4>{{ weather.main.temp_max }}</h4>
            </div>
        </div>
        <div class="weather-other-info">
            <div class="weather-other-info-left">
                <h6>Pressure : {{weather.main.pressure}}</h6>
                <h6>Humidity : {{weather.main.humidity}} </h6>
                <h6>Visibility :{{weather.visibility}} </h6>
            </div>
            <div class="weather-other-info-middle">
                <h6>Wind Speed and Deg</h6>

            </div>
            <div class="weather-other-info-right">
                <h4> <b>Sunrice: </b>6.05am</h4>
                <h4> <b>Sunset: </b>6.05pm</h4>
            </div>
        </div>
    </div>
