<div class="background">
    <app-header></app-header>

    <div class="details-wrapper">
        <div class="details-box">
            <div class="details-main-info">
                <div class="details-top">
                    <h1>Colombo, LK</h1>
                </div>
                <div class="details-left">
                    <h4>Few Clouds</h4>
                </div>
                <div class="details-right">
                    <h1>27°C</h1>
                    <div class="details-minmax">
                        <h4>Temp Min:25°C</h4>
                        <h4>Temp Max:28°C </h4>
                    </div>
                </div>
            </div>
            <div class="details-other-info">
                <div class="details-other-info-left">
                    <h5>Pressure: 10000ha</h5>
                    <h5>Humidity: 78%</h5>
                    <h5>Visibility: 8.0km</h5>
                </div>
                <div class="details-other-info-middle">
                    <h5>4.0m/s 120 Degree</h5>
                </div>
                <div class="details-other-info-right">
                    <h5>Sunrise: 6.06am</h5>
                    <h5>Sunset: 6.05pm</h5>
                </div>
            </div>
        </div>
    </div>

    <app-footer></app-footer>

</div>