<p>dash-board works!</p>
<app-header></app-header>
<app-search-bar></app-search-bar>

<div class="weather-boxes-wrapper">
    <div class="weather-box">
        <div class="weather-main-info">
            <div class="city-date">
                <h3>Colombo, LK</h3>
            </div>
            <div class="temp">
                27C
            </div>
        </div>
        <div class="weather-other-info">
            <div class="weather-other-info-left">

            </div>
            <div class="weather-other-info-middle">

            </div>
            <div class="weather-other-info-right">
                <h4> <b>Sunrice: </b>6.05am</h4>
                <h4> <b>Sunset: </b>6.05pm</h4>
            </div>
        </div>
    </div>

    <div class="weather-box">
        <div class="weather-main-info">
            <div class="city-date">
                <h3>Colombo, LK</h3>
            </div>
            <div class="temp">
                27C
            </div>
        </div>
        <div class="weather-other-info">
            <div class="weather-other-info-left">

            </div>
            <div class="weather-other-info-middle">

            </div>
            <div class="weather-other-info-right">
                <h4> <b>Sunrice: </b>6.05am</h4>
                <h4> <b>Sunset: </b>6.05pm</h4>
            </div>
        </div>
    </div>
</div>